<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="css/style.css" />
    <script src="lib/angular.min.js"></script>
    <script src="js/common.js"></script>
</head>
<body ng-app="indexApp">
    <div class="topbox" ng-controller="topCont">
        <div class="leftNav">
            <img src="images/logo.png" alt="">
        </div>
        <div class="rightNav">
            <ul>
                <li ng-click="preview()">
                    <p><img src="images/yulan.png" alt=""></p>
                    <span>预览</span>
                </li>
                <li ng-click="save()">
                    <p><img src="images/baoc.png" alt=""></p>
                    <span>保存</span>
                </li>
                <li ng-click="issue()">
                    <p><img src="images/shangc.png" alt=""></p>
                    <span>发布</span>
                </li>
                <li ng-click="exit()">
                    <p><img src="images/tuichu.png" alt=""></p>
                    <span>退出</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="contentBox">
        <left-panel class="leftbox"></left-panel>
        <central-panel class="centerbox"></central-panel>
        <bottom-panel class="bottombox"></bottom-panel>
        <right-panel class="rightbox"></right-panel>
    </div>
</body>
</html>