*{
    margin: 0;
    padding:0;
}
ul,li,ol{
    list-style: none;
}
.leftbox{
    display: block;
    width: 20%;
    height:100%;
    border-right: 1px solid #cccccc;
    float: left;
}
.leftbox .leftnav{
    width:20%;
    float: left;
    background-color: #eeeeee;
}
.leftbox h1 {
    padding:20px 0;
    font-size:14px;
    font-weight: normal;
    text-align: center;
}
.leftbox div {
    overflow: hidden;
}
.leftbox div ul li img{
    width:100%;
}
.centerbox{
    width: 59%;
    height:90%;
    float: left;
    background-color: #eeeeee;
    position: relative;
}
.bottombox{
    height:10%;
    width:59%;
    float: left;
    background-color: #cccccc;
}
.rightbox{
    display: block;
    height:100%;
    background-color: #dddddd;
}
.center-c{
    width:30%;
    height:60%;
    background-color: #f00;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom:0;
    margin: auto;
}